# 1. please then install mmselfsup 0.x following their instruction at https://github.com/open-mmlab/mmselfsup/tree/0.x

attrs
future
matplotlib
mmcls>=0.21.0,<0.27.0
numpy
packaging
scikit-learn
scipy
six
tensorboard
timm
tqdm
opencv-python
dtw==1.4.0
